# Google Gemini API Key (Free tier from Google AI Studio: https://aistudio.google.com/)
# GEMINI_API_KEY= AQ.Ab8RN6JCybwJoXkEMivcNMB3EtlMo_flRXpDkM1bo9o8cz4SNQ

# Backend server port
PORT=8000

# Model version (e.g., gemini-2.5-flash or gemini-1.5-flash)
GEMINI_MODEL=gemini-2.5-flash
